* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main-nav {
  overflow: hidden;
  background-color: #333;
}

.main-nav a,
.main-nav input {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

.main-nav input[type=text] {
  padding: 6px;
  border: 1px solid #e1e4e8;
  margin-top: 15px;
  background-color: #333;
  border-radius: 5px;
}

::-webkit-input-placeholder {
  text-align: left;
  font-size: 14px;
  padding-left: 10px;
}

.main-nav a:not(:first-child) {
  padding-top: 24px;
}

.main-nav-right {
  float: right;
}

.main-nav-right a:first-child,
.main-nav-right a:nth-of-type(2) {
  padding-top: 26px;
}

.avatar {
  width: 19px;
  height: 19px;
  border-radius: 50%;
}

.avatar-caret,
.add-caret {
  top: 27px;
  position: absolute;
  padding-left: 4px;
}

.main-container {
  display: grid;
  grid-template-areas:
  'header-nav header-nav header-nav header-nav header-nav header-nav'
  'profile-info-left repository-summary-right repository-summary-right repository-summary-right repository-summary-right repository-summary-right';
}

.header-nav {
  grid-area: header-nav;
}

.profile-info-left {
  grid-area: profile-info-left;
}

.repository-summary-right {
  grid-area: repository-summary-right;
  background-color: darkblue;
}

.footer-container {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  display: -moz-box;
  display: -moz-flex;
  -ms-box-orient: horizontal;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.wrap-item {
  padding: 5px;
  margin: 5px;
}

.f-github {
  color: #d1d5da;
  padding-top: 4px;
}

.wrap li {
  padding-top: 8px;
  font-size: 12px;
}

.wrap li a:link {
  text-decoration: none;
  color: #0366d6;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 14px
}

.header-container a {
  padding: 35px 16px 16px;
}

.header-container i {
  padding-right: 6px;
}

.header-container a:link {
  text-decoration: none;
  color: #d1d5da;
}

.header-container span {
  color: #24292e;
}

.header-icon {
  color: #959da5;
}

.repo-text {
  padding-right: 12px;
}

.h-count {
  padding: 2px 8px;
  background-color: #d1d5da80;
  border-radius: 10px;
}

.profile-info {
  padding: 0 40px;
}

.profile {
  height: 300px;
  border-radius: 50%;
}

.img-name-status {
  position: relative;
}

.profile,
.fa-smile {
  border: 1px solid #959da5;
  background-color: #fff;
}

.fa-smile {
  position: absolute;
  bottom: 145px;
  right: 57px;
  padding: 10px;
  font-size: 14px;
  border-radius: 50%;
}

footer div {
  padding-bottom: 40px;
  padding-top: 25px;
}

@media only screen and (min-width: 768px) {
  .main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .main-container div:nth-of-type(1) {
    order: 2;
  }

  .main-container div:nth-of-type(2) {
    order: 1;
  }

  .main-container :nth-of-type(3) {
    order: 3;
  }
}

@media only screen and (max-width: 767px) {
  .main-container {
    display: grid;
    grid-template-areas:
    'profile-info-left profile-info-left profile-info-left profile-info-left profile-info-left'
    'header-nav header-nav header-nav header-nav header-nav'
    'repository-summary-right repository-summary-right repository-summary-right repository-summary-right repository-summary-right';
  }

  .main-container div:nth-of-type(1) {
    grid-area: header-nav;
  }

  .main-container div:nth-of-type(2) {
    grid-area: profile-info-left;
  }

  .main-container :nth-of-type(3) {
    grid-area: repository-summary-right;
  }
}